*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.firstsection{
    justify-content: space-around;
    display: flex;
    margin: 23px 0;
}
.rightsection{
    position: relative;
}
#aboutmee{
    position: relative;
    top: 400px;
    left: 50px;

}
#a{
    position: relative;
    top: 40px;
    font-size: x-large;
}
#heee {
    width: 900px;
    color: white;
    border-width: 3px;
    opacity: 100%;
    position: relative;
    border-right: 100px;
}
#aboutmeee {
    position: relative;
    top: 1000px;
    left: 50px;

}
#heeee {
    width: 900px;
    color: white;
    border-width: 3px;
    opacity: 100%;
    position: relative;
    border-right: 100px;
}
#heeeee {
    width: 900px;
    color: white;
    border-width: 3px;
    opacity: 100%;
    position: relative;
    border-right: 100px;
}


@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}

#heeeeee {
    width: 900px;
    color: white;
    border-width: 3px;
    opacity: 100%;
    position: relative;
    border-right: 100px;
}
.first {
    justify-content: space-around;
    display: flex;
    margin: 23px 0;
}
